.App {
  text-align: left;
}

.App-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 50px;
}

.ItemList-container {
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.Item-container {
    text-align: center;
    font-size: 0.75em;
    flex-grow: 2;
    flex-shrink: 0.5;
}

.Cart-container {
    float: right;
    flex: 0 0 350px;
    background-color: #fcfcfc;
    padding: 12.5px;
}
